:root{
  --maincolor: white;
}

body {
  font-size: 16px;
  color: var(--maincolor);
  background-color: var(--maincolor);
  font-family: 'Roboto', sans-serif;
}

.initial-loading {
  margin-top: 60px;
}

/** HEADER **/
#header-nav {
  background-color:  var(--maincolor);
  border-radius: 0;
  border: 0;
  padding-bottom: 22px;
  margin-bottom: 0;
}

#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 184px;
  height: 36px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding: 29px 0 32px 0;
}
.navbar-brand h1 {
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: gray;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  margin-top: 20px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  background: url('../images/slide1.jpg') no-repeat center;
  border-top: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.panel-footer div.row {
  margin-bottom: 35px;
}

.panel-footer p.contact {
    font-size: 2em;
}

.footer-text {
  margin-top: 80px;
}


/* footer social icons */
ul.social-network {
	list-style: none;
  margin: 10px auto;
  padding: 0px;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}

.social-network a.icoYoutube:hover {
	background-color:red;
}

.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoYoutube:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/* END FOOTER */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/logo.png') no-repeat;
    width: 184px;
    height: 36px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
   #header-nav {
    padding: 10px 0 0 0;
  }
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
    padding-bottom: 10px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  /* End Header */
}

