<div id="mainSlider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
        <li data-target="#mainSlider" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="slide-text">
                <div class="carousel-caption">
                    <h3><b>Sed do eiusmod</b> <span>tempor incididunt</span></h3>
                    <p>Sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <img ng-src="images/slide1.jpg" alt="" class="bck-slide">
            
        </div>
        <div class="item">
            <div class="slide-text">
                <div class="carousel-caption">
                    <h3><b>Sed do eiusmod</b> <span>tempor incididunt</span></h3>
                    <p>Sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <img ng-src="images/slide1.jpg" alt="" class="bck-slide">
            <!--<img ng-src="images/Computer.png" alt="computer" class="home-image">-->
        </div>
    </div>
</div>